<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1><%= title %></h1>
        <p>Anda sedang mengedit data jasa servis: <strong><%= service.serviceName %></strong>.</p>
        
        <form action="/api/services/<%= service._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label>Nama Jasa</label>
                <input type="text" name="name" class="form-control" value="<%= service.name %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Kode Jasa</label>
                <input type="text" name="code" class="form-control" value="<%= service.code %>" required>
            </div>
        
            <div class="mb-3">
                <label>Harga</label>
                <input type="number" name="price" class="form-control" value="<%= service.price %>" required>
            </div>
        
            <div class="mb-3">
                <label class="form-label">Deskripsi</label>
                <textarea name="description" class="form-control"><%= service.description %></textarea>
            </div>
        
            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
            <a href="/services" class="btn btn-secondary">Batal</a>
        </form>
    </div>
</div>